[submodule "harbor"]
	path = harbor
	url = git@github.com:wayne2008-gpu/harbor-based-data-synthesis-platform.git
[submodule "harbor-service-contracts"]
	path = harbor-service-contracts
	url = git@github.com:wayne2008-gpu/harbor-service-contracts.git
[submodule "harbor-control-plane"]
	path = harbor-control-plane
	url = git@github.com:wayne2008-gpu/harbor-control-plane.git
[submodule "synthetic-data-platform"]
	path = synthetic-data-platform
	url = git@github.com:wayne2008-gpu/synthetic-data-platform.git
